@font-face {
    font-family:'OpenSans';
    src: url(Fuentes/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}
body{

align-items: center;
text-align: center;
justify-content: center;
display: flex;
background-image: url(Imagenes/Inicio.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;


}
.superior{

    display: flex;
    background-color: #ff0000;
    height: 100px;
    width: 1000px;
    border-radius: 30px;
}
.Texto {
    font-size: 30px;        
    color: #c4ad5c;
    position: absolute;
    top: 20px;             
    left: 300px;           
    line-height: 1;         
}

.logo{
    position: absolute;
    height: 60px;
    width: 190px;
    right:310px;
    top :30px;

}
.Ajustes {
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 10px;      
    right: 285px;   
    height: 40px;  
    width: 40px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.Ajustes img {
    height: 70%;     
    width: 70%;
    object-fit: contain;
}
.mi-boton{
    color: white;
    margin-left: 130px;
    top: 70px;
    position: absolute;
    height: 30px;
    width: 100px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #c4ad5c;
    transition: backgroud-color 0.3s ease;

}
.mi-boton:hover{
     background-color: #2069e0;
}
.Boton{
    color: white;
    margin-left: 20px;
    top: 70px;
    position: absolute;
    height: 30px;
    width: 100px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #c4ad5c;
    transition: backgroud-color 0.3s ease;
}
.Boton:hover{
     background-color: #2069e0;
}

.tablas{
  display: flex;
  position: absolute;
  top: 200px;
  background-color:#b2b8c5;
  border-radius: 30px;
  border-collapse: collapse;
}
.Cita{
    font-family: 'OpenSans';
    top: 110px;
    font-size: 50px;
    position: absolute;
}
tr, th {
  width: 300px;
  height: 70px;
  border: 1px solid black;
  border-left: none;
  border-right: none;

}
.lateral{
    border: 1px solid black;
    border-left: none;
    border-bottom: none;
    border-top: none;
}


.Texto{
    font-size: 50px;
    color: #c4ad5c;
    position: absolute;
    top: -30px;
    margin-left: 28px;

}
table{
    border-collapse: collapse;
}
.Robot{
    background-image: url(Imagenes/images.jpeg);
    border-radius: 50px;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 50px;
    bottom: 40px;
    box-shadow: 5px 5px #072558;
}
.Reprogramar{
color: white;
width: 100px;
height: 20px;
background-color:#082c6c;
border-radius:10px;


}
.NoConcurrio{
color: white;
width: 100px;
height: 20px;
background-color:rgb(180, 0, 0);
border-radius:10px;


}
