.calendario {
  position: absolute;
  top: 150px;
    margin: 20px auto;
    width: 500px;
    background-color: #8599b6;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
}

.calendario table {
    border-collapse: collapse;
    width: 100%;
}

.calendario th, .calendario td {
    border: 1px solid black;
    width: 14%;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

.calendario th {
    background-color: #d7b65a;
}

.dia-boton {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #8599b6;
    cursor: pointer;
    font-size: 16px;
}

.dia-boton:hover {
    background-color:#c4ad5c ;
    color: white;
}

.hoy {
    background-color: #c4ad5c;
    color: white;
    font-weight: bold;
}

.navegacion {
  top: 125px;
  position: absolute;
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 10px auto;
}

.navegacion button {
    position: absolute;
    padding: 6px 12px;
    border-radius: 8px;
    border: none;
    background-color:#2069e0;
    color: white;
    cursor: pointer;
}

.navegacion button:hover {
    background-color: #c4ad5c;
}
#mes-siguiente{
  right: 150px;
}
#mes-anterior{
  left: 150px;
}
@media (max-width: 768px) {
    .calendario {
        width: 85%;
        max-width: 450px;
        margin-top: 50px;
    }
     .superior{margin-top: 50px;}

    .calendario th, .calendario td {
        font-size: 13px;
        height: 55px;
    }

    .dia-boton {
        font-size: 13px;
    }

    .navegacion {
        width: 85%;
        width: 550px;
        margin-top: 38px;
    }
    .mes-siguiente{margin-left: 500px;}
     .logo{margin-right: -270px; height: 60px; width: 145px; margin-top: 50px;}
      .mi-boton2{margin-top: 50px;}
       .Texto{margin-top: 100px;}
}

@media (max-width: 480px) {
    .hamburger{margin-top: 1px;}
    .superior{margin-top: 50px;}
    .calendario {
        width: 95%;
        max-width: 400px;
        margin-top: 80px;
    }
    .mi-boton2{margin-top: 50px;}
    .Texto{margin-top: 100px;}
    .calendario th, .calendario td {
        font-size: 11px;
        height: 45px;
    }

    .dia-boton {
        font-size: 11px;
    }

    .navegacion {
        width: 95%;
        width: 550px;
        margin-top: 80px;
    }
     .mes-siguiente{position: absolute; margin-left: 200px;}
     .logo{margin-right: -270px; height: 40px; width: 100px; margin-top: 60px;}
}
