.cuadrado {
    color: white;
    position: absolute;
    top: 50px;
    height: 500px;
    width: 400px;
    background-color:#082c6c;
    border-radius: 30px;

    display: flex;
    flex-direction: column;   
    justify-content: flex-start; 
    align-items: center;         
    padding-top: 50px;        
    box-sizing: border-box;
}

.titulo {
    text-align: center;       
    margin-bottom: 20px;    
}

.info-paciente {
    align-self: flex-start;  
    text-align: left;
    margin-left: 20px;    
}

.info{
    align-self: flex-start;  
    text-align: left;
    margin-left: 20px;   
}
.Siguiente{
    margin-left: 50px;
 font-weight: bold;
    color:#082c6c;
  margin-top: 60px;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: #c2c9da;
  font-size: 14px;
  margin-bottom: 15px;
cursor: pointer;
  transition: background-color 0.3s ease;
}
.Siguiente:hover {
  background-color: #e6c85c;
}
.Volver{
    margin-left: 50px;
    font-weight: bold;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: #c2c9da;
  font-size: 14px;
  margin-bottom: 15px;
  color: #082c6c;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.Volver:hover {
  background-color: #e6c85c;

}
.Volver2{
    margin-left: 40px;
    font-weight: bold;
  margin-top: -10px;
  width: 80%;
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: #c2c9da;
  font-size: 14px;
  margin-bottom: 15px;
  color: #082c6c;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.Volver2:hover {
  background-color: #e6c85c;

}